@use 'base/variables' as v;

.aside {
    flex: 1;
    // height: auto;
    background-color: v.$primary-color;
    // position: relative;
    img {
        filter: invert(99%) sepia(1%) saturate(4%) hue-rotate(356deg) brightness(103%) contrast(101%);
    }
    

    &-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        // padding: .5rem 1rem;
        color: v.$background-color;
        img {
            width: 2.4rem;
        }
    }

    &-body {
        padding: 1rem;
        // padding: .5rem 1rem;
        img {
            width: 2.4rem;
        }
    }

    &-content {
        width: 22.7rem;
        // position: fixed;
    }
}

.dashboard {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: .5rem 0 1.5rem 0;
    color: v.$background-color;
}

.list {
    margin-bottom: 2.5rem;
    color: v.$background-color;
    li {
        display: flex;
        align-items: center;
        padding: .8rem 1rem;
        transition: background-color ease-in-out .5s;
        
        &:hover {
            background-color: v.$text-color;
            outline: 1px solid v.$text-color;
            border-radius: .5rem;
            cursor: pointer;
            
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        gap: .7rem;
        a {
            color: v.$background-color;
        }
    }
    &-title {
        display: inline-block;
        padding: .8rem 1rem;
    }       
}